/*
 * Device tree overlay for Arduino Opta Gateway ARCH1 / ARCH2
 *
 * Arduino Oct 2024
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/bcm2835.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	compatible = "brcm,bcm2835";

	/* SPI */
	/* Board 2to1 J3 */
	/* J3.18 CS0 T1S LAN8651B1-E ARCH1 */
	/* J3.20 CS1 J8.15 ARCH1 */
	/* CS to Sd Card */

	fragment@0 {
		target = <&spi1>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;

			pinctrl-names = "default";
			pinctrl-0 = <&spi1_pins &spi1_cs_pins>;
			cs-gpios = <&gpio 18 1>, <&gpio 17 1>, <&gpio 16 1>;
			status = "okay";

			/* To ARCH1 */
			/* Debug Only */
			spidev1_0: spidev@0 {
				compatible = "spidev";
				reg = <0>;      /* CE0 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <5000000>;
				status = "disabled";
			};

			/* To ARCH1 */
			/* T1S LAN8651B1-E */
			/* IRQ GPIO27 */
			/* RST gpioexp_2 P13 */
			t1s1: lan865x@0 {
				compatible = "microchip,lan865x";
				reg = <0>; /* CE0 */
				pinctrl-names = "default";
				pinctrl-0 = <&t1s1_pins>;
				interrupt-parent = <&gpio>;
				interrupts = <27 0x2>; /* 0x2 - falling edge trigger, 0x8 - active low level-sensitive */
				local-mac-address = [04 05 06 01 02 03];
				spi-max-frequency = <15000000>;
				/* PLCA settings */
				plca-enable = /bits/ 8 <1>; /* 1 - PLCA enable, 0 - CSMA/CD enable */
				plca-node-id = /bits/ 8 <0>; /* PLCA node id range: 0 to 254 */
				plca-node-count = /bits/ 8 <8>; /* PLCA node count range: 1 to 255 */
				plca-burst-count = /bits/ 8 <0x0>; /* PLCA burst count range: 0x0 to 0xFF */
				plca-burst-timer = /bits/ 8 <0x80>; /* PLCA burst timer */
				plca-to-timer = /bits/ 8 <0x20>; /* PLCA TO value */
				tx-cut-through-mode = /bits/ 8 <0>; /* 1 - tx cut through mode enable, 0 - Store and forward mode enable */
				rx-cut-through-mode = /bits/ 8 <0>; /* 1 - rx cut through mode enable, 0 - Store and forward mode enable */
				oa-chunk-size = /bits/ 8 <64>;
				oa-protected = /bits/ 8 <1>;
				reset-gpios = <&gpioexp_2 11 0>; /* RST on gpioexp_2 P13, active low */
				status = "okay";
			};

			/* To ARCH1 */
			/* J8 */
			spidev1_1: spidev@1 {
				compatible = "spidev";
				reg = <1>;      /* CE1 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <5000000>;
				status = "okay";
			};

			/* On ARCH2 */
			/* Debug Only */
			spidev1_3: spidev@2 {
				compatible = "spidev";
				reg = <2>; /* CS */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <5000000>;
				status = "okay";
			};

			/* On ARCH2 */
			/* Sd Card */
			mmc_slot: mmcslot@2 {
				compatible = "mmc-spi-slot";
				voltage-ranges = <2700 3600>;
				reg = <2>;      /* CS */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <5000000>;
				status = "disabled";
			};
		};
	};

	/* I2C */

	/* ID_SD / ID_SC
	// See i2c0-overlay.dts
	// You can just load dtoverlay=i2c0
	Available devices:
	- EEPROM
	- GPIOEXP1
	- GPIOEXP2
	- RTC
	*/
	fragment@1 {
		target = <&i2c0mux>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@2 {
		target = <&i2c0if>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_pins>;
			status = "okay";

			/* On ARCH2 */
			/* U5 RTC */
			// INTA -> GLOBAL_EN
			// INTB -> gpioexp_1 P00A
			pcf8523: pcf8523@51 {
				compatible = "nxp,pcf8523";
				reg = <0x51>;
			};

			/* On ARCH2 */
			/* U2_1 GPIO EXP */
			// See pca953x-overlay.dts
			gpioexp_1: gpio@21 {
				compatible = "nxp,pca9535";
				//pinctrl-names = "default";
				//pinctrl-0 = <&pinctrl_gpioexp_1>;
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;
				//interrupt-controller;
				//#interrupt-cells = <2>;
				//interrupt-parent = <&gpio>;
				//interrupts = <24 IRQ_TYPE_LEVEL_LOW>;
			};

			/* On ARCH2 */
			/* U2_2 GPIO EXP */
			// // See pca953x-overlay.dts
			gpioexp_2: gpio@20 {
				compatible = "nxp,pca9535";
				//pinctrl-names = "default";
				//pinctrl-0 = <&pinctrl_gpioexp_2>;
				reg = <0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				//interrupt-controller;
				//#interrupt-cells = <2>;
				//interrupt-parent = <&gpio>;
				//interrupts = <25 IRQ_TYPE_LEVEL_LOW>;
			};

			/* On ARCH2 */
			/*  U4 EEPROM 0x50 */
			/* WP is held to GND */
			eeprom@50 {
				compatible = "atmel,24c02";
				reg = <0x50>;
				pagesize = <16>;
			};
		};
	};

	/* I2C GPIO2 / GPIO3
	// See i2c1-overlay.dts
	// You can just load dtoverlay=i2c1
	Available devices:
	- J1 (PADS) >> ARCH2
	- J7 QWIIC >> ARCH1
	*/
	fragment@3 {
		target = <&i2c1>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_pins>;
			status = "okay";
		};
	};

	/* USB */
	// See dwc2-overlay.dts
	// You can just load dtoverlay=dwc2
	fragment@4 {
		target = <&usb>;
		#address-cells = <1>;
		#size-cells = <1>;
		dwc2_usb: __overlay__ {
			compatible = "brcm,bcm2835-usb";
			dr_mode = "otg";
			g-np-tx-fifo-size = <32>;
			g-rx-fifo-size = <558>;
			g-tx-fifo-size = <512 512 512 512 512 256 256>;
			status = "okay";
		};
	};

	/* UART3 */
	fragment@5 {
		target = <&uart3>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&uart3_pins>;
			pinctrl-1 = <&uart3_ctsrts_gpio6>;
			status = "okay";
		}
	}

	/* PINMUX */
	fragment@6 {
		target = <&gpio>;
		__overlay__ {
			pinctrl_gpioexp_1: gpioexp_1grp {
				brcm,pins = <24>;
				brcm,function = <BCM2835_FSEL_GPIO_OUT>;
			};

			pinctrl_gpioexp_2: gpioexp_2grp {
				brcm,pins = <25>;
				brcm,function = <BCM2835_FSEL_GPIO_OUT>;
			};

			t1s1_pins: t1s1pins {
				brcm,pins = <27>;
				brcm,function = <0>; /* IN */
				brcm,pull = <0>; /* NONE */
			};

			spi1_pins: spi1pins {
				brcm,pins = <19 20 21>;
				brcm,function = <BCM2835_FSEL_ALT5>; /* MISO, MOSI, CK */
			};

			spi1_cs_pins: spi1cspins {
				brcm,pins = <18 17 16>; /* CS0, CS1, CS2 */
				brcm,function = <BCM2835_FSEL_GPIO_OUT>; /* CS SPI1 as GPIOS */
			};
		};
	};

	/* @TODO: next nodes */
};
