# CONFIG_USB_TCPC is not set
# CONFIG_POWER_PCA9450 is not set
CONFIG_POWER_BD71837=y

# Enable the EXT4 environment
CONFIG_ENV_IS_IN_EXT4=y
CONFIG_ENV_EXT4_INTERFACE="mmc"
CONFIG_ENV_EXT4_DEVICE_AND_PART="2:1"
CONFIG_ENV_EXT4_FILE="/boot/boot.env"
