[Unit]
Description=Arduino USB Gadget Setup
Documentation=man:systemd.special(7)
# usb-gadget.target is pulled in by systemd's udev rule as soon as a UDC shows up
ConditionPathExists=/sys/class/udc
After=local-fs.target
Before=usb-gadget.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/arduino-gadget-setup start
ExecStartPost=/usr/bin/arduino-gadget-setup bind
ExecStop=/usr/bin/arduino-gadget-setup stop

[Install]
WantedBy=usb-gadget.target
