[Unit]
Description=Program stm32m4 on Portenta-X8 boards
ConditionPathExists=/tmp/arduino/m4-user-sketch.elf

[Service]
Type=oneshot
ExecStart=/usr/arduino/extra/program-m4.sh
