# CONFIG_USB_TCPC is not set
# CONFIG_POWER_PCA9450 is not set
CONFIG_POWER_BD71837=y
CONFIG_SPL_WATCHDOG=y

CONFIG_FASTBOOT_BUF_ADDR=0x42800000
CONFIG_FASTBOOT_BUF_SIZE=0x40000000
CONFIG_FSL_FASTBOOT_BOOTLOADER2_OFFSET=0x300
