/*
 * Device tree overlay for Arduino Opta Gateway ARCH1 / ARCH2
 *
 * Arduino Oct 2024
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	/* SPI */

	fragment@0 {
		target = <&spidev0>;
		__dormant__ {
			status = "disabled";
		};
	};

	fragment@1 {
		target = <&spidev1>;
		__dormant__ {
			status = "disabled";
		};
	};

	fragment@2 {
		target-path = "spi1/spidev@0";
		__dormant__ {
			status = "disabled";
		};
	};

	fragment@3 {
		target-path = "spi1/spidev@1";
		__dormant__ {
			status = "disabled";
		};
	};

	fragment@4 {
		target-path = "spi1/spidev@2";
		__dormant__ {
			status = "disabled";
		};
	};

	fragment@5 {
		target-path = "spi2/spidev@0";
		__dormant__ {
			status = "disabled";
		};
	};

	fragment@6 {
		target-path = "spi2/spidev@1";
		__dormant__ {
			status = "disabled";
		};
	};

	fragment@7 {
		target-path = "spi2/spidev@2";
		__dormant__ {
			status = "disabled";
		};
	};

	fragment@8 {
		target = <&spi6_cs_pins>;
		__overlay__ {
			brcm,pins = <18 17 16>;
			brcm,function = <1>; /* output */
		};
	};

	fragment@1 {
		target = <&spi6>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;

			pinctrl-names = "default";
			pinctrl-0 = <&spi6_pins &spi6_cs_pins>;
			cs-gpios = <&gpio 18 1>, <&gpio 17 1>, <&gpio 16 1>;
			status = "okay";

			/* To ARCH1 */
			spidev6_0: spidev@0 {
				compatible = "spidev";
				reg = <0>;      /* CE0 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <125000000>;
				status = "okay";
			};

			/* To ARCH1 */
			spidev6_1: spidev@1 {
				compatible = "spidev";
				reg = <1>;      /* CE1 */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <125000000>;
				status = "okay";
			};

			/* Sd Card */
			spidev6_3: spidev@2 {
				compatible = "spidev";
				reg = <2>;      /* CS */
				#address-cells = <1>;
				#size-cells = <0>;
				spi-max-frequency = <125000000>;
				status = "okay";
			};
		};
	};

	/* I2C */

	/* ID_SD / ID_SC
	- EEPROM
	- GPIOEXP1
	- GPIOEXP2
	- RTC
	*/
	fragment@9 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
		};
	};
};
